node_modules
dist
.astro
.emdash/migrations.json
uploads
data.db
.wrangler

# Environment / Wrangler secrets
.env
.env.*
!.env.example
.dev.vars
.dev.vars.*
